/*
* @Author: Administrator
* @Date:   2017-12-19 15:09:33
* @Last Modified by:   Administrator
* @Last Modified time: 2018-03-22 15:47:36
*/
/*
* @Author: Administrator
* @Date:   2017-12-19 15:09:33
* @Last Modified by:   Administrator
* @Last Modified time: 2017-12-19 17:59:09
*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}
p{margin-bottom: 0;}
@media (max-width:900px) {
    .main{
        width:100%;
    }
    .header{
        width:100%;
        color:#999999;
        display:-webkit-flex;
        display: flex;
        flex-direction:row;
        justify-content:space-around;
        align-items: center;
        background:#000;
        /* padding:10px 0; */
    }
    .header img{
        /* display:none; */
    }
    .header p:nth-of-type(1){
        color:#179cff;
    }
    .content{
        width:100%;
        display:-webkit-flex;
        display: flex;
        flex-direction:row;
        align-items: center;
        flex-wrap: wrap ;
        justify-content: center;
    }
    .pic1{
        width:48%;
        color:#999;
        display:-webkit-flex;
        display: flex;
        flex-direction:column;
        font-size:12px;
        margin-top: 20px;
    }
    .pic1 p:nth-of-type(1){
        width:90%;
        color:#222222;
        display:none;
    }
    .pic1 p:nth-of-type(2){
        width:90%;
        color:#222222;
    }
    .pic1 p:nth-of-type(3){
        width:90%;
    }
    .pic1 p:nth-of-type(4){
        width:90%;
    }
    .pic2{
        width:48%;
        margin-top: 20px;
    }
    .pic3{
        width:48%;
        margin-top: 20px;
    }
    .pic4{
        width:48%;
        font-size:12px;
        margin-top: 20px;
    }
    .pic4 p:nth-of-type(1){
        width:90%;
        color:#222222;
        display:none;
        margin-left: 10px;

    }
    .pic4 p:nth-of-type(2){
        width:90%;
        color:#222222;
        margin-left: 10px;

    }
    .pic4 p:nth-of-type(3){
        width:90%;
        color:#999999;
        margin-left: 10px;
    }
    .pic4 p:nth-of-type(4){
        width:90%;
        color:#999999;
        margin-left: 10px;
    }
    .bottom{
        width:100%;
        display:-webkit-flex;
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        background:#f5f5f5;
        padding:10px 0;
        margin-top: 30px;
    }
    .bottom .left{
        width:48%;
        display:-webkit-flex;
        display: flex;
        flex-direction:column;
        font-size:12px;
    }
    .left p:first-child{
        width:90%;
        /* width:73px; */
    }
    .left p:last-child{
        color:#999999;
        width:90%;
    }
    .bottom .right{
        width:48%;
    }
    .foot{
        width:100%;
        background:#000;
        text-align: center;
        font-size:12px;
        margin-top: 30px;

    }
    .foot p:first-child{
        color:#ffffff;
    }
    .foot p:last-child{

        color:#179cff;

    }
}
@media screen and (min-width: 900px) {
    .main{
        width:1200px;
        margin: 0 auto;
        height: 1000px;
    }
    .header{
        width:100%;
        height:50px;
        font-size: 14px;
        color:#999999;
        display:-webkit-flex;
        display: flex;
        flex-direction:row;
        align-items: center;
        background:#000;

    }
    .header img{
        width: 34px;
        height: 34px;
        margin-left: 80px;
    }
    .header p{
        cursor:pointer;
    }
    .header p:nth-of-type(1){
        font-size: 14px;
        margin-left: 279px;
        color:#179cff;

    }
    .header p:nth-of-type(2){
        margin-left: 78px;

    }
    .header p:nth-of-type(3){
        margin-left: 78px;
    }
    .header p:nth-of-type(4){
        margin-left: 78px;
    }
    .content{
        width:100%;
        display:-webkit-flex;
        display: flex;
        flex-direction:row;
        align-items: center;
        flex-wrap: wrap ;
        justify-content: center;
        padding-bottom: 100px;

    }
    .pic1{
        width:466px;
        height: 340px;
        margin-top: 100px;
        font-size:14px;
        color:#999;
        display:-webkit-flex;
        display: flex;
        flex-direction:column;

    }
    .pic1 p:nth-of-type(1){
        font-size: 40px;
        margin-top: 50px;
        color:#222222;

    }
    .pic1 p:nth-of-type(2){
        font-size: 40px;
        margin-top: 10px;
        color:#222222;

    }
    .pic1 p:nth-of-type(3){
        margin-top: 20px;
        width:400px;
    }
    .pic1 p:nth-of-type(4){
        margin-top: 30px;
        width:400px;
    }
    .pic2{
        width:466px;
        height: 340px;
        background: red;
        margin-left: 50px;
        margin-top: 100px;
    }
    .pic3{
        width:466px;
        height: 340px;
        background: pink;
        margin-top: 100px;
    }
    .pic4{
        width:466px;
        height: 340px;
        margin-left: 50px;
        margin-top: 100px;
    }
    .pic4 p:nth-of-type(1){
        font-size: 40px;
        margin-top: 63px;
        color:#222222;

    }
    .pic4 p:nth-of-type(2){
        font-size: 40px;
        margin-top: 10px;
        color:#222222;

    }
    .pic4 p:nth-of-type(3){
        margin-top: 30px;
        font-size:14px;
        width:400px;
        color:#999999;
    }
    .pic4 p:nth-of-type(4){
        margin-top: 20px;
        font-size:14px;
        width:400px;
        color:#999999;
    }
    .bottom{
        width:100%;
        display:-webkit-flex;
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        height:460px;
        background:#f5f5f5;
    }
    .bottom .left{
        width:550px;
        height:365px;
        display:-webkit-flex;
        display: flex;
        flex-direction:column;
    }
    .left p:first-child{
        font-size:40px;
        color:#222222;
        margin-top: 76px;
        margin-left: 60px;
        /* width:73px; */
    }
    .left p:last-child{
        font-size:14px;
        color:#999999;
        margin-top: 40px;
        margin-left: 60px;
        width:400px;
    }
    .bottom .right{
        width:550px;
        height:365px;
        background:blue
    }
    .foot{
        width:100%;
        height:40px;
        display:-webkit-flex;
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        background:#000;

    }
    .foot p:first-child{
        font-size:14px;
        color:#ffffff;
    }
    .foot p:last-child{
        font-size:14px;
        color:#fffc00;
        margin-left: 60px;
    }
}



